<div class="row">
  <div class="col-3">
    <app-nav-section></app-nav-section>
  </div>

  <div class="col container p-5">
    <div class="container p-2">
      <h6 class="mb-4">Button Types</h6>
      <div class="container">
        <app-button
          *ngFor="let btn of button"
          [buttonType]="btn"
          [size]="sizes[0]"
        ></app-button>
      </div>
    </div>
    <div class="container p-2">
      <h6 class="mb-4">Button shadow disabled</h6>
      <div class="container">
        <app-button
          *ngFor="let btn of button"
          [buttonType]="btn"
          [shadow]="false"
          [size]="sizes[0]"
        ></app-button>
      </div>
    </div>
    <div class="container p-2">
      <h6 class="mb-4">Button disabled</h6>
      <div class="container">
        <app-button
          *ngFor="let btn of button"
          [buttonType]="btn"
          [disable]="true"
          [size]="sizes[0]"
        ></app-button>
      </div>
    </div>
    <div class="container p-2">
      <h6 class="mb-4">icons</h6>
      <div class="container">
        <app-button
          *ngFor="let icon of icons"
          [hidden]="icon.length < 1"
          [buttonType]="button[1]"
          [icon]="icon"
          [size]="sizes[0]"
        ></app-button>
        <br />
        <app-button
          *ngFor="let icon of icons"
          [hidden]="icon.length < 1"
          [buttonType]="button[1]"
          [icon]="icon"
          [right]="true"
          [size]="sizes[0]"
        ></app-button>
      </div>
    </div>
    <div class="container p-2">
      <h6 class="mb-4">Button shadow disabled</h6>
      <div class="container">
        <app-button [buttonType]="button[1]" [size]="sizes[0]"></app-button>
        <app-button [buttonType]="button[1]"></app-button>
        <app-button [buttonType]="button[1]" [size]="sizes[2]"></app-button>
      </div>
    </div>
  </div>
</div>
